
* {
	font-family: helvetica;
	
	}
.center{
	display: block;
	margin-right: auto;
	margin-left: auto;
}
.nav{
	text-align: center;
}
ul.nav li{
    display: inline-block;
    padding-right: 10px;
}
.nav li a{
	color: black;
	text-decoration: none;
}
.nav li a:hover{
	color: white;
}
#about_blue{
	background: #dd5741;
	}
#about_yellow{
	background: #FFEBCD;
}
#about_blue li{
	color: blue;
}
	h2{ 
	text-align: center;
	text-decoration: underline;
}
#about_yellow li{
	color: orange;
}
.important{
	font-size: 16px;
	font-weight: bold;
}
.color-info{
	border: 3px solid black;
	margin: 10px;
	padding: 10px;
}


html, body {
	height: 100%;
	background: #dd5741;
}

#wrap {min-height: 100%;}

#main {overflow:auto;
	padding-bottom: 150px;} 

#footer {position: relative;
	margin-top: -150px; 
	height: 150px;
	background-color: #FFF8DC;
	clear:both;} 


body:before {
	content:"	";
	height:100%;
	float:left;
	width:0;
	margin-top:-32767px;/
}

